{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title "Payment demo - Simple purchase - Finished" %}

{% block content %}    
    <div class="block">
        Payment status:
        {% if status.success %}
            Successfully finished!
        {% elseif status.canceled %}
            Canceled!
        {% elseif status.failed %}
            Failed!
        {% elseif status.inProgress %}
            In progress!
        {% elseif status.inProgress %}
            Status unknown!
        {% endif %}
    </div>

    <div class="block">
        <ul>
            {% for key, value in status.model %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% set code = code(_self) %}