{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title "Payment demo - Simple purchase with Paypal Express Checkout using Token for merchant - Prepare" %}

{% block content %}
    
    <p>
        This is a simple example with minimal amount of code and config.
    </p>
    <p>
        This payment will be processed in behalf of another Paypal merchant account, that You can define in parameters.yml file (paypal.express_checkout.third_party_subject field). This factory needs also a token/tokenSecret pair, that was given to your merchant account by the account You should work on behalf to.
    </p>
    <p>
        More info about this feature You can find in <a
                href="https://developer.paypal.com/docs/classic/permissions-service/integration-guide/PermissionsAbout/" target="_blank">Official PayPal Permissions API documentation</a>
    </p>
    <p>
        Use these credentials <strong>{{ paypal_usd_testuser_login }}/{{ paypal_usd_testuser_password }}</strong> to login on paypal side.

        Don't forget to check <a href="#whats-inside?">what's inside</a>
    </p>

    <hr />

    <form method="POST">
        {{ form_widget(form) }}

        <input type="submit" value="Pay" />
    </form>
{% endblock %}

{% set code = code(_self, gatewayName) %}
