{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title "Payment demo - Simple purchase with Paypal Express Checkout using Token for merchant - Prepare" %}

{% block content %}
    
    <p>
        This is a simple example with minimal amount of code and config.
    </p>
    <p>
        This payment will be processed with another Paypal merchant account, that You can find in parameters.yml file (paypal.express_checkout_via_token section), and it also needs a token/tokenSecret pair, that was received for this account.
    </p>
    <p>
        More info in <a
                href="https://developer.paypal.com/docs/classic/permissions-service/integration-guide/PermissionsAbout/" target="_blank">Official PayPal Permissions API guide</a>
        Use these credentials <strong>{{ paypal_usd_testuser_login }}/{{ paypal_usd_testuser_password }}</strong> to login on paypal side.

        Don't forget to check <a href="#whats-inside?">what's inside</a>
    </p>

    <hr />

    <form method="POST">
        {{ form_widget(form) }}

        <input type="submit" value="Pay" />
    </form>
{% endblock %}

{% set code = code(_self, gatewayName) %}
