{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title %}
    {{ pagetitle|default('Get token') }}
{% endblock %}

{% block content %}
    <form method="POST">
        {% if form|default %}
            {{ form_widget(form) }}
        {% endif %}
        <input type="submit" value="Get token" />
    </form>
{% endblock %}

{% set code = code(_self) %}