{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title %}
    {{ pagetitle|default('Received token') }} - Details View"
{% endblock %}

{% block content %}
    <div class="block">
        Status: {{ status }}
    </div>

    <div class="block">
        <pre style="white-space: pre;">{{ response|raw }}</pre>
    </div>
{% endblock %}

{% set code = code(_self) %}
