{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title %}
    {{ paymentTitle }} - Details View"
{% endblock %}

{% block content %}
    <div class="block">
        Status: {{ status }}
    </div>

    <div class="block">
        <pre style="white-space: pre;">{{ order|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</pre>
    </div>
{% endblock %}

{% set code = code(_self) %}