{% extends "AcmePaymentBundle::layout.html.twig" %}

{% block title "Payment demo" %}

{% block content %}
    <ul>
        <li>
            Demo 1: <a href="{{ path("acme_payment_prepare_simple_purchase_paypal_express_checkout") }}">Simple purchase with paypal express checkout</a>
        </li>
        <li>
            Demo 2: <a href="{{ path("acme_payment_prepare_digital_goods_simple_purchase_paypal_express_checkout") }}">Simple purchase of digital goods with paypal express checkout</a>
        </li>        
        <li>
            Demo 3: <a href="{{ path("acme_payment_prepare_simple_purchase_authorize_net") }}">Simple purchase with authorize.net</a>
        </li>
        <li>
            Demo 4: <a href="{{ path("acme_payment_prepare_simple_purchase_be2bill") }}">Simple purchase with be2bill</a>
        </li>
    </ul>
{% endblock %}

{% set code = code(_self) %}